.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 8.75rem 0rem 8.75rem;
  max-width: 75rem;
  margin: 0 auto;
}
.header img {
  min-width: 5.625rem;
  width: 7rem;
  height: 3.75rem;
}
#menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#btn-mobile {
  display: none;
}
nav p {
  display: none;
}
#menu li a {
  color: #141414;
  text-decoration: none;
  font-size: 1.125rem;
  padding: 1.25rem 2rem;
  transition: 0.3s ease-in-out;
  display: block;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 4px;
}
#menu li a:hover {
  background-color: #ebebeb;
}
.logo-mobile {
  display: none;
}

@media (max-width: 57rem) {
  .header {
    padding: 2.5rem 1rem 0rem 1rem;
  }
  #menu {
    display: block;
    position: absolute;
    top: 0px;
    left: -50%;
    visibility: hidden;
    background-color: #fdfdfd;
    z-index: 3;
    padding: 50px 0px;
    overflow: hidden;
    height: 100vh;
    transition: 0.5s ease-in-out;
    width: 50vw;
    text-align: center;
  }
  #menu li a {
    text-align: left;
    background-color: #fdfdfd;
    border-radius: 0px;
  }
  #btn-mobile {
    display: flex;
  }
  nav p {
    display: block;
    text-align: center;
  }
  #nav.active #menu {
    visibility: visible;
    transform: translateX(100%);
  }
  .header {
    gap: 50px;
  }
  .logo-mobile {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0px auto 20px auto;
  }
}
