/*Resets*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
ul {
  list-style: none;
}
li{
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  padding: 10px 10px;
}

/*Conteiner tamanho*/
.conteiner-base {
  max-width: 100rem;
  margin: 0 auto;
}

/*FONTES*/
.titulo-font {
  font-family: "Antic Didone", serif;
  font-weight: 300;
}
.texto-font {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}
