/*HEADER*/

header {
  background-color: #ededed;
  position: fixed; 
  top: 0;         
  left: 0;         
  width: 100%;       
  z-index: 10;  
  box-shadow:0px 0px 10px #9b5de5;
} 

.conteiner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0px 10px;
}

.navegaticao-header {
  display: flex;
  gap: 10px;

}

.link-header {
  padding: 0.6rem 0.6rem;
  position: relative;
  justify-content: center;
  color: #000000;
}

.titulo-menu {
  color: #000000;
}

.logo {
  width: 2rem;
  border-radius: 30%;
}

.social-link {
  display: flex;
  gap: 20px;
  padding: 0px 10px;
}


/*Animações*/
.link-header:hover {
  color: #9b5de5;
  transition: 0.4s;
}

.link-header::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #9b5de5;
  width: 0%;
  margin-top: 4px;
  transition: 0.2s ease-in-out;
  position: absolute;
}
.link-header:hover::after {
  width: 100%;
}

.logo:hover {
  box-shadow: 0px 0px 5px #9b5de5;
  transition: 0.3s ease-in-out;
}

/*MAIN*/
main{
    background-color: #ededed;
}

/*PRIMEIRA SECTION*/
.primeira-section{
  height: 50vh;
  background-image: url(../img/luca-bravo-XJXWbfSo2f0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  position: relative; 
  padding: 10px;
}
.conteiner-primeira{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: end;
  color: #ffffff;
}

h2 {
  font-size: 3rem;
}
.conteudo-primeira{
  padding-bottom: 30px;
}
.conteudo-primeira p {
  font-size: 1.2rem;
  line-height: 1.6;
}


/* SEGUNDA SEÇÃO*/
.segunda-section{
  padding: 40px 10px;
  background-color: #ededed;
  color:#000000;
}
.conteudo-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding-top: 30px;
}
.grid-item{
  padding: 20px 10px 10px 10px;
  display: grid;
  border: 1px solid #c2c2c2;
  border-left: none;
  gap: 15px;
  text-align: center;
}
.grid-item img{
  margin: auto;
  transition: 0.3s ease-in;
  cursor: pointer;
  border-radius: 50%;
}
.grid-item:nth-child(3), 
.grid-item:nth-child(6){
  border-right: none;
}
.grid-item:nth-child(4),
.grid-item:nth-child(5),
.grid-item:nth-child(6){
  border-bottom: none;
}
.grid-item:nth-child(-n+2) {
  border-top: none;
}
.grid-item:nth-child(n + 2){
  border-top: none;
}
.grid-item img{
  width: 3rem;
}

/*TERCEIRA SECTION*/
.terceira-section{
  padding: 40px 10px 40px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteudo-terceira h2{
  text-align: center;
}
.apresentacao{
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 6rem;
}
.apresentacao p{
  max-width: 400px;
  text-align: justify;
}
.apresentacao img{
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/*QUARTA  SECTION*/
.quarta-section{
  padding: 60px 10px 40px 10px;
}
.conteudo-quarta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#animate-js{
  border-radius: 20px;
  display: flex;
  box-shadow: 0px 0px 10px #c2c2c2;
}
#animate-js img{
  width: 100%;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}
@keyframes animacao {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}
#animate-js.ativo:hover{
  animation: animacao 3s ease-in-out infinite;
  box-shadow: 0px 0px 10px#9b5de5;
}
.cards-quarta{
display: flex;
flex-wrap: wrap;
gap: 30px;
justify-content: center;
padding: 40px;
}
.cards-quarta li{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  gap: 20px;
}